/* *** LEFT *** */
#left {
    width: 50%;
    height: 100vh;
    background-image: url('../images/woman_playing_electric_guitar.jpg');
    background-size:cover;
    /* background-position: center; */
    float: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 2em 1em;

}

h1 {
    background-image: url(../images/cyNews.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 10px;
    padding-left: 45px;
    /* text-transform: uppercase; */
}
h2 span {
    font-size: 0.6em;
    font-style: italic;
}

#welcome-message {
    width: 75%;
    align-self: flex-end;
    text-align: end;
}

nav {
    align-self: flex-end;
}

nav a {
    color:#fff;
    font-weight: bold;
    margin-left: 20px;
}




/* *** RIGHT *** */
#right {
    width: 50%;   
    float: right;

    /* ajout d'une barre de scroll */
    height: 100vh;
    overflow-y: scroll;
}

#right h2 {
    padding: 1em;
    background-color: #f9f9f9;
    margin: 0;
}

/* L'ulitisation du float pose un probleme suivant la hauteur des articles. Flexbox est plus judicieux */
article {
    width: 50%;
    /* float: left; */
    border: 1px solid #eaeaea;
    padding: 1em;
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

#articles-list {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    text-transform: uppercase;
    background-color: grey;
    font-size: 0.8em;
    color:white;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.3em 0.5em;
}

.badge:hover {
    color: #fff;
}

.badge--work {
   background-color:#0766F0;
}
.badge--team {
   background-color:#DC5E53;
}
.badge--news {
   background-color:#98DC62;
}

h3 {
    margin: 1em;
}

article img {
    width: 1.5em;
    margin-right: 5px;
}

.meta-author {
    font-weight: bold;
    font-size: 0.8em;
    margin: 1em 0;
}
.meta-date {
    color: #999;
    font-size: 0.8em;
}

.continue {
    font-weight: bold;
    text-decoration: underline;
}